.andes-button {
    color: white;
    background-color: #7B66FF;
    opacity: 0.75;
}

.calc-button {
    color: white;
    background-color: #7B66FF;
    opacity: 0.75;
}

.andes-button:hover {
    color: white;
    background-color: #7B66FF;
    opacity: 1;
}

.background-gambar{
    background-image: url("../img/background.jpg");
    width: 100%;
    min-height: fit-content;
    margin: 0;
    background-size: 100%;
    position: absolute;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-dark);
}

.detail {
    display: none;
    background-color: #D7EFFF;
    min-height: 128px;
    max-height: 256px;
    overflow: auto;
}

.calculate{
    background-color: #5FBDFF;
    min-height: 50vh;
    width: 100%;
    margin: 0;
    padding: 50px;
    position: relative;
}
.calculate-box{
    background-color: white;
    min-height: 50vh;
    width: 100%;
}

.about {
    background-color: #5FBDFF;
    min-height: 50vh;
    width: 100%;
    margin: 0;
    position: relative;
}
.about-dark{
    min-height: 30vh;
    width: 100%;
    margin: 0;
    position: relative;
}

.contact{
    background-color: #3A3A3A;
    min-height: 20vh;
    width: 100%;
    margin: 0;
    position: relative;
}

.logo-about{
    width: 70px;
    height: 70px;
}

body{
    /* font-family: 'Aclonica', sans-serif; */
    font-family: 'Familjen Grotesk', sans-serif;
}

.navbar{
    font-family: 'Aclonica',sans-serif;
}

.judul{
    font-family: 'Aclonica', sans-serif;
}

.judul-about{
    font-family: 'Aclonica', sans-serif;
}

.judul-contact{
    font-family: 'Aclonica', sans-serif;
}

.judul-logo{
    font-family: 'Aclonica', sans-serif;
}

.navbar-brand {
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo-about {
    position: absolute;
    top: -50%;
}

#result-box {
    display: none;
}

.small-box {
    width: 62px;
}

.super-small-box {
    width: 54px;
}